<!DOCTYPE html>
<html>
	<body>
{% extends "layout.html" %}
{% block content %}

			
			<form action="{{ url_for('addmovies') }}" method="POST">
				
				<fieldset>
                <legend>Add Movies:</legend>
                
                <label for="fname">Name:</label><br>
                <input type="text" name="name"  id="name" required><br><br>
                
                <label for="author">Director:</label><br>
                <input type="text" name="director"  id="director" required><br><br>
               
                
               
                <label for="year">Year:</label><br>
                <input type="text" name="year" id="year" required><br><br>
                
                <label for="genre">Genre:</label><br>
                <input type="text" name="genre" id="genre" required><br><br>   
                
                <label for="description">Description:</label><br>
                <input type="text" name="description"  id="description" required><br><br>
                
                <label for="quantity">Quantity:</label><br>
                <input type="text" name="quantity"  id="quantity" required><br><br>
                
                <input type="submit" value="Submit">
            </fieldset>	
			<div class="msg">{{ msg }}</div>	
			</form>


	</body>
</html>
{% endblock %}