<!DOCTYPE html>
<html>
	<body>
{% extends "layout.html" %}
{% block content %}
    {% for row in value %} 
		<div class="displaymusic">
            <h1>{{row[1]}}</h1>
            <form  action="{{url_for('displaymusic', id=row[0])}}">  
    				<p>Musician/Band: {{row[2]}}</p>
				<p>Album: {{row[3]}}</p>
				<p>Year Published: {{row[4]}}</p>
				<p>Genre: {{row[5]}}</p>
				<p>Description: {{row[6]}}</p>
				<p>Quantoty: {{row[7]}}</p>
			</form>
    {% endfor %}        
            
	     </div>
{% endblock %}
	</body>
</html>
