<!DOCTYPE html>
<html>
	<body>
{% extends "layout.html" %}
{% block content %}
<style> 
        table, th, td { 
            border: 1px solid black; 
            border-collapse: collapse; 
        } 
          
        th, td { 
            padding: 5px; 
            text-align: left; 
        } 
          

    </style> 

<table style="width:100%"> 
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Director</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>           </th>
        <th>           </th>
        
    </tr>
    </thead>
    <tbody>
        {% for row in value %} 
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td> 
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td> 
                <td>{{row[6]}}</td>               
                <td> <a href="{{ url_for('editmovie', id=row[0]) }}"  > Edit </a></td> 
                <td><a href="{{ url_for('deletemovies', id=row[0]) }}"  > Delete </a></td>
                
            </tr>
        {% endfor %}
    </tbody>

</table>
<a href="{{ url_for('addmovies')}}">ADD MOVIES</a>
</body>
</html>
{% endblock %}
